/*
	generics
*/

body {
	margin: 0;
	padding: 0px;
	background: #303030;
	background-image: url('http://i.imgur.com/Tc7xFGQ.jpg');
	background-size: cover;
	opacity: 0.9;
}

body * {
	font-family: "Roboto Condensed" !important;
	font-size: 1.035em;
  color: white !important;
}

h1, h2, h3, h4 {
	margin: 0;
}

h1 {
	font-size: 2.143em !important;
}

button {
	color: black !important;
}

input[type="text"], input[type="email"], textarea {
	background: #474646 !important;
}

li {
/*	font-size: 5em;*/
}


/*
	brand
*/

.subtitle {
	display: inline;
}

a .brand{
	font-size: 0.875em;
	background: #f5f5f5 !important;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
	opacity: 1;
}

a:hover .brand {
	opacity: 0.75;
}

.brand {
	float: right;
	font-family: 'Mada' !important;
	background: white;
	color: #7d7e81 !important;
	padding: 4px 10px;
	border-radius: 4px;
}


.brand .logo {
	width: 16px;
	background: transparent !important;
}

.form-wrapper {
	height: 100%;
	padding: 39px;
	background: #2d2d2d;
}

.form-footer {
	position: relative;
	top: -1px;
	color: white;
}

.form-footer .address {
	float: right;
	position: relative;
	top: -1em;
	text-align: right;
  font-size: 1.75em;
  line-height: 4px;
}

.form-footer .address a {
	text-decoration: none;
	font-family: Helvetica;
}

.form-footer .address a:hover {
	text-decoration: underline;
}

.form-footer .address a img {
	width: 18px;
}

/*
	jot-form
*/

.form-all {
/*	max-width: 1150px;*/
	width: 100%;
	border: none;
}

.form-header-group {
	position: relative;
	top: 1px;
	margin: 0;
	padding: 75px;
	background: #424242;
	border: none;
}

.form-line-active {
	background: transparent;
}

.form-line-error {
	background: transparent;
}

.form-line-error .form-error-message {
	background: #9c6767;
}

.form-error-message img {
	background: transparent;
}

.form-line-error input:not(#coupon-input), .form-line-error select, .form-line-error textarea, .form-validation-error {
	border: none;
}

.form-error-arrow {
	background: transparent;
}

.form-textbox, .form-textarea, .form-radio-other-input, .form-checkbox-other-input, .form-captcha input {
	padding: 10px;
	background: transparent;
	border: 1px solid #999;
	border-radius: 4px;
	box-shadow: none;
}

.form-buttons-wrapper {
	text-align: left !important;
}

li[data-type="control_button"] {
	padding-top: 50px;
}

.form-submit-button {
	font: bold 1.25em helvetica !important;
  color: #666d74 !important;
}